<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Result</title>
</head>
<body>
    <div class="container">
        <h3>Submitted Info</h3>
        <p>Your Name: @ViewBag.name</p>
        <p>Dojo Location: @ViewBag.location</p>
        <p>Favorite Language: @ViewBag.language</p>
        <p>Comment: @ViewBag.comment</p>

        <a href="/"><button>Go Back</button></a>
    </div>
</body>
</html>