<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container header-links">
    <p><a href="/">Home</a> | Projects | <a href="/contacts">Contacts</a></p>
</div>

<div class="header">
    <h3>Here are some projects of Mine!</h3>
</div>
<div class="projects">
    <img src="#" alt="project-pic">
    <h5>Cool thing!</h5>
    <p>Cool project Cool project Cool project Cool project Cool project Cool project Cool project Cool project </p>
    <img src="#" alt="project-pic">
    <h5>Cool thing!</h5>
    <p>Cool project Cool project Cool project Cool project Cool project Cool project Cool project Cool project </p>
    <img src="#" alt="project-pic">
    <h5>Cool thing!</h5>
    <p>Cool project Cool project Cool project Cool project Cool project Cool project Cool project Cool project </p>
</div>
    
</body>
</html>